<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Curso Basico de Vue.js | Platzi</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div id="app">
            <h1>
                Mis Cursos de Platzi💚
            </h1>
                <p>
                <input type="text" placeholder="Titulo del curso" v-model="title"/>
                </p>
                <p>
                <input type="number" placeholder="Horas" v-model="time"/>
                </p>
                <p>
                <button v-on:click="saveCourse">Guardar Curso</button>
                </p>
            </fieldset>
            <div>
                <h3>Lista de Cursos</h3>
                <p class="red" v-if="totalTime=0">Aun no has realizado cursos</p>
                <div>
                    <ol v-for="(p, i) in courses">
                        <ul>{{p.title}} - {{p.time}}</ul>
                    </ol>
                    <hr/>
                    <p>
                        Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
                        <b>#NuncaParesDeAprender 💚</b>
                    </p>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>